- url = !!@booking.id ? admin_booking_path(@booking) : admin_bookings_path
= simple_form_for @booking, url: url do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :customer
    = f.association :location
    = f.association :staff
    / = f.input :date, as: :datepicker
    = f.input :start_time
    = f.association :services, as: :select2, input_html: { multiple: true }, collection: Service.all.map { |i| [i.name, i.id] }
    = f.input :status

  .form-actions
    = f.button :submit, class: 'btn btn-success'
