p#notice = notice

p
  strong Customer:
  = @booking.customer_id
p
  strong Location:
  = @booking.location_id
p
  strong Staff:
  = @booking.staff_id
p
  strong Date:
  = @booking.start_time

=> link_to 'Edit', edit_admin_booking_path(@booking)
'|
=< link_to 'Back', admin_bookings_path
