h1 Listing services

table.table.table-sm
  thead
    tr
      th Name
      th Price
      th Detail
      th Duration
      th Category
      th
      th
      th

  tbody
    - @services.each do |service|
      tr
        td = service.name
        td = service.price
        td = service.detail
        td = service.duration
        td = service.category
        td = link_to 'Show', admin_service_path(service)
        td = link_to 'Edit', edit_admin_service_path(service)
        td = link_to 'Destroy', admin_service_path(service), data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Service', new_admin_service_path
