p#notice = notice

p
  strong Name:
  = @service.name
p
  strong Price:
  = @service.price
p
  strong Detail:
  = @service.detail
p
  strong Time:
  = @service.duration
p
  strong Category:
  = @service.category

=> link_to 'Edit', edit_admin_service_path(@service)
'|
=< link_to 'Back', admin_services_path
