- url = !!@location.id ? admin_location_path(@location) : admin_locations_path
= simple_form_for @location, url: url do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :address

  .form-actions
    = f.button :submit, class: 'btn btn-success'
