p#notice = notice

p
  strong Name:
  = @client.name
p
  strong Subdomain:
  = @client.subdomain
p
  strong Industry:
  = @client.industry

=> link_to 'Edit', edit_client_path(@client)
'|
=< link_to 'Back', clients_path
