p#notice = notice

p
  strong Name:
  = @staff.name
p
  strong Date of birth:
  = @staff.date_of_birth
p
  strong Gender:
  = @staff.gender
p
  strong Phone:
  = @staff.phone
p
  strong Location:
  = @staff.location.name

=> link_to 'Edit', edit_admin_staff_path(@staff)
'|
=< link_to 'Back', admin_staffs_path
