.bd-example
  #carouselExampleCaptions.carousel.slide data-ride="carousel"
    ol.carousel-indicators
      li.active data-slide-to="0" data-target="#carouselExampleCaptions"
      li data-slide-to="1" data-target="#carouselExampleCaptions"
      li data-slide-to="2" data-target="#carouselExampleCaptions"
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100 alt="..." src='https://picsum.photos/id/27/1000/600' /
        .carousel-caption.d-none.d-md-block
          h5 First slide label
          p Nulla vitae elit libero, a pharetra augue mollis interdum.
      .carousel-item
        img.d-block.w-100 alt="..." src='https://picsum.photos/id/316/1000/600' /
        .carousel-caption.d-none.d-md-block
          h5 Second slide label
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .carousel-item
        img.d-block.w-100 alt="..." src='https://picsum.photos/id/230/1000/600' /
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
    a.carousel-control-prev data-slide="prev" href="#carouselExampleCaptions" role="button"
      span.carousel-control-prev-icon aria-hidden="true"
      span.sr-only Previous
    a.carousel-control-next data-slide="next" href="#carouselExampleCaptions" role="button"
      span.carousel-control-next-icon aria-hidden="true"
      span.sr-only Next


= react_component('Booking',
  current_user: 'abc',
  locations: Location.all,
  staffs: Staff.all,
  services: Service.all,
  start_time: '',
  end_time: '',
  today: Date.today.strftime('%d/%m/%Y'),
  tomorrow: (Date.today + 1.days).strftime('%d/%m/%Y'),
  next_tomorrow: (Date.today + 2.days).strftime('%d/%m/%Y'))
