.avatar {
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 50%;
    text-align: center;
    padding-top: 33%;
    opacity: 0;
  }
  &.active {
    .overlay {
      opacity: 1
    }
  }
}
