nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand href=root_path  DashBoard
  button.navbar-toggler aria-controls="navbarColor01" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarColor01" data-toggle="collapse" type="button"
    span.navbar-toggler-icon
  #navbarColor01.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item class="#{'active' if controller_name == 'staffs'}"
        a.nav-link href=admin_staffs_path Staffs
      li.nav-item class="#{'active' if controller_name == 'services'}"
        a.nav-link href=admin_services_path Services
      li.nav-item class="#{'active' if controller_name == 'locations'}"
        a.nav-link href=admin_locations_path Locations
      li.nav-item class="#{'active' if controller_name == 'customers'}"
        a.nav-link href=admin_customers_path Customers
      li.nav-item class="#{'active' if controller_name == 'bookings'}"
        a.nav-link href=admin_bookings_path Bookings
    / form.form-inline.my-2.my-lg-0
    /   input.form-control.mr-sm-2 placeholder="Search" type="text" /
    /   button.btn.btn-secondary.my-2.my-sm-0 type="submit"  Search
    .dropdown
      a.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
        i.fa.fa-user.align-middle
        span.ml-1.align-middle = current_user.email
      .dropdown-menu
        = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item'
          i.fa.fa-sign-out
          | &nbsp Log Out
        = link_to edit_user_registration_path, class: 'dropdown-item'
          i.fa.fa-key
          | &nbsp Account Settings
